repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout
        name: nbstripout - Strip outputs from notebooks
        description: Strip output from Jupyter and IPython notebooks
        language: python
        entry: nbstripout
        types: [jupyter]
        args: ["--drop-empty-cells"]
